<div class="col-lg-4 col-md-6 portfolio-item filter-app">
    <div class="portfolio-wrap">
      <img src="<%= image.download_url %>" class="img-fluid" alt="">
      <div class="portfolio-info">
        <h4><%= image.author %></h4>
        <p><%= image.height %> x <%= image.width %></p>
        <div class="portfolio-links">
          <a href="<%= image.url %>" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
        </div>
      </div>
    </div>
  </div>